###Anti_Debug_API###
[Debugger check]
CheckRemoteDebuggerPresent
DebugActiveProcess
DebugBreak
DbgSetDebugFilterState
DbgUiDebugActiveProcess
IsDebuggerPresent
NtDebugActiveProcess
NtQueryObject
NtSetDebugFilterState
NtSystemDebugControl
OutputDebugStringA
OutputDebugStringW

[Process Check]
CreateToolhelp32Snapshot
GetWindowThreadProcessId
NtQueryInformationProcess
NtSetInformationProcess
Process32First
Process32Next
Process32FirstW
Process32NextW

[Memory Manipulation]
MapViewOfFile
UnmapViewOfFile
VirtualAlloc
VirtualAllocEx
VirtualProtect
VirtualProtectEx
NtAllocateVirtualMemory

[Write Data OnTheMemory]
WriteProcessMemory
NtWriteVirtualMemory

[MemoryRead,ProcessInspection]
NtQueryVirtualMemory
ReadProcessMemory
Toolhelp32ReadProcessMemory

[Window Name Check]
EnumThreadWindows
EnumWindows
FindWindowA
FindWindowExA
FindWindowExW
FindWindowW
GetForegroundWindow
GetWindow
GetWindowTextW
NtUserBuildHwndList
NtUserFindWindowEx
NtUserGetForegroundWindow
NtUserQueryWindow

[Mutual Exclusion]
CreateMutexA
CreateMutexW
OpenMutexA
OpenMutexW

[Analysis Environment Check]
DeviceIoControl
GetAdaptersAddresses
GetAdaptersInfo
GetComputerNameA
GetComputerNameW
GetSystemInfo
GetUserNameA
GetUserNameW
NtQuerySystemInformation
SetupDiEnumDeviceInfo
SetupDiGetClassDevsA
SetupDiGetDeviceRegistryPropertyA
SetupDiGetDeviceRegistryPropertyW

[Time Check]
GetLocalTime
GetSystemTime
GetTickCount
GetTickCount64
NtDelayExecution
NtQueryPerformanceCounter
NtQuerySystemTime
NtWaitForSingleObject
QueryPerformanceCounter
SetTimer
SleepEx
sleep
timeGetTime
timeSetEvent
WaitForSingleObject
WaitForSingleObjectEx

[Thread Manipulation]
CreateThread
GetThreadContext
SetThreadContext
SuspendThread

[Thread Execute]
NtResumeThread
ResumeThread

[Thread Injection]
CreateRemoteThread

[Thread Hide Check]
NtCreateThreadEx
NtSetInformationThread

[Hardware Breakpoint Check]
NtGetContextThread
NtSetContextThread

[User Interaction Check]
BlockInput
CountClipboardFormats
GenerateConsoleCtrlEvent
GetCursorInfo
GetCursorPos
NtUserBlockInput
SwitchDesktop

[Check Invalid Close->Exception]
CloseHandle
NtClose

[Exception Handling Check]
RaiseException
SetUnhandledExceptionFilter
UnhandledExceptionFilter

###Anti_Debug_Technique###
default_search_range=80

[HeapTailMarker]
ABABABAB

[KernelDebuggerMarker]
7FFE02D4

[DbgBreakPoint_RET]
DbgBreakPoint
C3h

[DbgUiRemoteBreakin_Debugger_Terminate]
DbgUiRemoteBreakin
TerminateProcess

[PMCCheck_RDPMC]
rdpmc

[TimingCheck_RDTSC]
rdtsc

[SkipPrefixes_INT1]
F3h
64h
F1h

[INT2D_interrupt_check]
fs:0
2Dh
search_range=30

[INT3_interrupt_check]
fs:0
3
search_range=30

[EXCEPTION_BREAKPOINT]
fs:0
3
80000003h

[ICE_interrupt_check]
fs:0
icebp

[DBG_PRINTEXCEPTION_C]
40010006h

[TrapFlag_SingleStepException]
pushfd
100h
popfd

[BeingDebugged_check]
fs:30h
eax+2
search_range=15

[NtGlobalFlag_check]
fs:30h
68h
70h

[NtGlobalFlag_check_2]
BCh
70h

[HeapFlags]
fs:30h
18h
40h

[HeapForceFlags]
fs:30h
18h
44h

[Combination_of_HEAP_Flags]
40000060h

[Combination_of_HEAP_Flags_2]
40000062h

[ReadHeapFlags]
RtlCreateQueryDebugBuffer
RtlQueryProcessHeapInformation

[ReadHeapFlags_2]
RtlCreateQueryDebugBuffer
RtlQueryProcessDebugInformation

[DebugPrivileges_Check]
1FFFFFh
OpenProcess

[Opened_Exclusively_Check]
80000000h
CreateFile
search_range=20

[EXCEPTION_INVALID_HANDLE_1]
CloseHandle
0C0000008h

[EXCEPTION_INVALID_HANDLE_2]
NtClose
0C0000008h

[Memory_EXECUTE_READWRITE_1]
40h
3000h
VirtualAlloc
search_range=15

[Memory_EXECUTE_READWRITE_2]
40h
VirtualProtect
search_range=20

[Memory_Region_Tracking]
VirtualAlloc
GetWriteWatch
search_range=250

[Check_BreakPoint_Memory_1]
Toolhelp32ReadProcessMemory
0CCh

[Check_BreakPoint_Memory_2]
0CCh
40h
VirtualProtect

[Software_Breakpoints_Check]
NtQueryVirtualMemory
100h
0E0h
search_range=300

[Hardware_Breakpoints_Check]
10010h
GetCurrentThread
GetThreadContext

[Enumerate_Running_Processes]
CreateToolhelp32Snapshot
Process32First
Process32Next
search_range=250

[ThreadHideFromDebugger]
NtSetInformationThread
11h

[NtQueryInformationProcess_PDPort]
NtQueryInformationProcess
7
0FFFFFFFFh

[NtQueryInformationProcess_PDFlags]
NtQueryInformationProcess
1Fh

[NtQueryInformationProcess_PDObjectHandle]
NtQueryInformationProcess
1Eh

[NtQuerySystemInformation_KD_Check]
NtQuerySystemInformation
23h
